* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,   #root {
  height: 100%;
  
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

html {
  background-size: cover;
  background-image: url('../public/2346347.jpg');
  background-attachment: fixed;
  background-color: #0007;
  background-blend-mode: darken;
}